/* Global styles */
body {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 1.5;
}

/* Limits the width and centers content */
main {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

/* Titles */
header h1,
header h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin: 1.2em 0 0.5em;
}

header h1 {
  font-size: 38px;
}

header h2 {
  font-size: 17px;
  font-weight: 400;
  color: #006eb6;
  border-bottom: 1.4px solid #d1d1d1; /* Border editing */
  max-width: 600px;
  margin: 0 auto;
}

/* Main Paragraph */
main p {
  margin: 1.5em 0 0;
}

main p:nth-of-type(2) {
    margin: .9em 0 0;
}

/* Ordered list */
main ol {
  padding-left: 2em;
}

ol li {
  margin: 0.9em auto;
}

/* Footer logo */
footer img {
  width: 150px;
  display: block; /* sets img up for centering (not inline) */
  margin: 20px auto;
}

.content {
  max-width: 800px;
  margin: 3em auto; /* Centers the box horizontally */
  padding: 2em; /* Adds space around like a page margin */
  border: 1.5px solid #c1c1c1;
  box-shadow: 3px 3px 10px #afafaf; /* optional, subtle depth */
}
